@media (max-width: 770px) {
    .header__burger {
        display: block;
    }

    .header__menu {
        position: absolute;
        right: 0;
        top: -350px;
        width: 100%;
        padding: 50px 30px 30px 30px;
        background-color: #F2CEDA;
        transition: transform .5s;
        -webkit-transition: transform .5s;
        -moz-transition: transform .5s;
        -ms-transition: transform .5s;
        -o-transition: transform .5s;
    }

    .menu__list {
        display: flex;
        flex-direction: column;

    }

    .item-link {
        font-size: 25px;
        display: block;
        padding: 10px;
    }

    .header.open .header__menu {
        transform: translateY(100%);
        -webkit-transform: translatey(100%);
        -moz-transform: translatey(100%);
        -ms-transform: translatey(100%);
        -o-transform: translatey(100%);
    }
}