@media (max-width:1024px) {

    /* hero  */

    .hero__box-text {
        margin-top: 125px;
    }

    .hero__title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }

    .hero__subtitle {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .hero__img-milk {
        width: 445px;
        position: absolute;
        top: 127px;
        left: -34px;
        z-index: 1;

    }

    .img__circle-bg {
        position: absolute;
        width: 250px;
        height: 225px;
        top: 182px;
        left: 75px;

    }

    .img__shadow {
        position: absolute;
        width: 133px;
        height: 15px;
        bottom: 70px;
        right: 159px;

    }

    /* Brown */
    .Brown__shadow {
        position: absolute;
        width: 295px;
        height: 30px;
        top: 77%;
        left: 29%;
        background-color: #EDB5C7;
        z-index: -1;
    }

}





@media (max-width: 770px) {
    .hero__inner {
        margin-bottom: 20px;
    }

    .header__burger {
        display: block;
    }

    .header__menu {
        position: absolute;
        right: 0;
        top: -350px;
        width: 100%;
        padding: 50px 30px 30px 30px;
        background-color: #F2CEDA;
        transition: transform .5s;
        -webkit-transition: transform .5s;
        -moz-transition: transform .5s;
        -ms-transition: transform .5s;
        -o-transition: transform .5s;
    }

    .menu__list {
        display: flex;
        flex-direction: column;

    }

    .item-link {
        font-size: 25px;
        display: block;
        padding: 10px;
    }

    .header.open .header__menu {
        transform: translateY(100%);
        -webkit-transform: translatey(100%);
        -moz-transform: translatey(100%);
        -ms-transform: translatey(100%);
        -o-transform: translatey(100%);
        z-index: 99;
    }

    /* hero  */
    .hero__box-text {
        margin-top: 90px;
    }

    .hero__title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 25px;
    }

    .hero__subtitle {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .hero__img {
        width: 300px;
    }

    .hero__img-milk {
        width: 300px;
        position: absolute;
        top: 115px;
        left: -20px;
        z-index: 1;

    }

    .img__circle-bg {
        position: absolute;
        width: 165px;
        height: 153px;
        top: 137px;
        left: 65px;

    }

    .img__shadow {
        position: absolute;
        width: 133px;
        height: 15px;
        top: 300px;
        right: 128px;

    }

    /* services */

    .services__inner {
        flex-wrap: wrap;
        padding: 60px 0 50px 0;
        gap: 20px 40px;
    }

    /* Brown */

    .Brown__title {
        max-width: 350px;
        font-family: var(--font-Hind-bold);
        font-size: 45px;
        line-height: 49px;
        color: var(--color-title);
        margin-bottom: 10px;
    }

    .Brown__subtitle {
        line-height: 20px;
        font-size: 14px;
    }

    .Brown__img-box {
        position: relative;
    }

    .Brown__img {
        width: 300px;
    }

    .Brown__shadow {
        position: absolute;
        width: 140px;
        height: 20px;
        top: 77%;
        left: 29%;
        background-color: #EDB5C7;
        z-index: -1;
    }

    /* Product */

    .Product__filter-list a {
        font-size: 14px;

    }

    /* .Product__filter-list {
        flex-wrap: wrap;
        row-gap: 10px;
    } */



    .Product__card {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .Cayenne {
        display: flex;
        flex-direction: column-reverse;
    }

    .Product__card-img {
        margin-bottom: 30px
    }

    .img-none {
        display: none;
    }

    /* ordering */

    .ordering__description {
        margin-left: 50px;
    }
}





@media (max-width: 430px) {
    /* hero  */

    .hero__box-img {
        display: none;
    }

    /* Brown */
    .Brown__img-box {
        display: none;
    }

    .Brown__title {
        font-size: 35px;
        line-height: 40px;
        margin-top: 20px;
    }

    .Brown__subtitle {
        font-size: 14px;
        line-height: 20px;
    }

}






@media (max-width: 320px) {
    /* hero  */

    .hero__title {
        font-size: 25px;
    }

    /* Brown */
    .Brown {
        margin-bottom: 15px;
    }

    /* Product */
    .Product {
        padding-top: 55px;
    }

    .Product__title {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .Product__filter-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .Product__card-img {
        display: none;
    }

    .Product__card-subtitle {
        max-width: 320px;
        font-size: 14px;
        text-wrap: balance;
    }


    /* swiper text */

    .reviews__text {
        max-width: 255px;
        font-size: 14px;
    }

    .img-top {
        top: 2px;
        left: -18px;
    }

    .img-bottom {
        bottom: 4px;
        right: 132px;
    }

    /* ordering */
    .ordering__hero-img {
        display: none;
    }

    .ordering__description {
        margin-left: 10px;
    }

    .description__title {
        font-size: 20px;
    }

    .description__subtitle {
        max-width: 295px;
    }

    .description__img {
        display: flex;
        flex-direction: column;
    }

    /* support */
    .support__inner {
        padding-top: 70px;
    }

    .support__title {
        font-size: 25px;
    }

    .support__search {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }

    .search__text {
        width: 270px;
        margin-bottom: 10px;
        border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -ms-border-radius: 5px 5px 5px 5px;
        -o-border-radius: 5px 5px 5px 5px;
    }

    .search__btn {
        border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -ms-border-radius: 5px 5px 5px 5px;
        -o-border-radius: 5px 5px 5px 5px;
    }
}