@font-face {
    font-family: 'Fredoka-Bold';
    src: url(..//fonts/Fredoka-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'HindMadurai-Bold';
    src: url(../fonts/HindMadurai-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'HindMadurai-Medium';
    src: url(../fonts/HindMadurai-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'HindMadurai-Regular';
    src: url(../fonts/HindMadurai-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'HindMadurai-SemiBold';
    src: url(../fonts/HindMadurai-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.woff2) format('woff2');
}



:root {
    --bg-colorhero: rgb(241, 226, 231);
    --color-menu: #150101;
    --color-title: #0F0101;
    --color-btn: #D23166;
    --color-text-footer: #FFFFFF;
    --border: 5px;
    --font-fredokaR: Fredoka-Bold;
    --font-Hind-bold: HindMadurai-Bold;
    --font-Hind-medium: HindMadurai-Medium;
    --font-Hind-regular: HindMadurai-Regular;
    --font-Hind-Sembold: HindMadurai-SemiBold;
    --font-Roboto-bold: Roboto-Bold;
    --font-Roboto-medium: Roboto-medium;
    --font-Roboto-regular: Roboto-regular;
}

body {
    font-family: var(--font-Hind-regular);
    font-size: 16px;
    color: var(--color-menu);
    background-color: rgb(239, 218, 225);

}

.wrapper {
    overflow: hidden;
}



.container {
    max-width: 1155px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.header__menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    font-family: var(--font-Roboto-regular);
    font-size: 14px;
}


.item-link:hover {
    font-weight: 700;
    color: var(--color-btn);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.header__link-btn {
    font-family: var(--font-Hind-bold);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    background-color: var(--color-btn);
    border-radius: var(--border);
    -webkit-border-radius: var(--border);
    -moz-border-radius: var(--border);
    -ms-border-radius: var(--border);
    -o-border-radius: var(--border);
}

.link-btn {
    color: var(--color-text-footer);
    padding: 14px 50px;

}

/* Бургер меню  */

.header__burger {
    display: none;
    position: relative;
    width: 40px;
    height: 30px;
    z-index: 99;
}

.header__burger span {
    position: absolute;
    top: 5px;
    width: 100%;
    height: 3px;
    background-color: var(--color-title);
    transition: transform .5s, opacity .5s;
    -webkit-transition: transform .5s, opacity .5s;
    -moz-transition: transform .5s, opacity .5s;
    -ms-transition: transform .5s, opacity .5s;
    -o-transition: transform .5s, opacity .5s;
}

.header__burger span:nth-child(2) {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.header__burger span:nth-child(3) {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
}

.header.open .header__burger span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger span:nth-child(1) {
    transform: translateY(0) rotate(-45deg);
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
}

.header.open .header__burger span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
}

/* hero */

.hero__inner {
    display: flex;
    margin-bottom: 213px;
}

.hero__box-text {
    margin-top: 195px;
}

.hero__text {
    font-size: 14px;
    font-family: var(--font-Roboto-medium);
    font-weight: 600;
    color: var(--color-title);

}

.hero__title {
    max-width: 665px;
    font-family: var(--font-fredokaR);
    font-size: 57px;
    font-weight: 900;
    line-height: 65px;
    color: var(--color-title);
    margin-bottom: 35px;

}

.hero__title-color {
    color: var(--color-btn);
}

.hero__subtitle {
    max-width: 523px;
    font-family: var(--font-Hind-regular);
    font-size: 18px;
    line-height: 27px;
    color: var(--color-menu);
    margin-bottom: 50px;
    opacity: 0.6;
}


.hero__box-img {
    position: relative;
    margin-top: 37px;
    width: 500px;
    height: 500px;
}

.hero__img {
    width: min(37.31vw, 597px);
    animation-name: hero;
    animation-duration: 2s;
}

.hero__img-milk {
    position: absolute;
    top: 125px;
    left: -150px;
    z-index: 1;
    width: min(53.75vw, 860px);
    animation-name: milk;
    animation-duration: 1.5s;
}

.img__circle-bg {
    position: absolute;
    width: 365px;
    height: 353px;
    bottom: -137px;
    left: 105px;
    background-color: rgba(210, 49, 102, 1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0.1;
    z-index: -1;
    animation-name: circle;
    animation-duration: 1.3s;

}


.img__shadow {
    position: absolute;
    width: 173px;
    height: 15px;
    background-color: #EDB5C7;
    opacity: 0.87;
    filter: blur(16px);
    -webkit-filter: blur(10px);
    bottom: -170px;
    right: 130px;
    animation-name: shadow;
    animation-duration: 1.5s;


}

.hero__btn-link {
    padding: 13px 50px 13px 50px;
    background-color: var(--color-btn);
    border-radius: var(--border);
    -webkit-border-radius: var(--border);
    -moz-border-radius: var(--border);
    -ms-border-radius: var(--border);
    -o-border-radius: var(--border);
    color: var(--color-text-footer);
}

/* services */

.services {
    background-color: #fff;
}

.services__inner {
    display: flex;
    padding: 100px 0 100px 0;
    align-items: center;
    justify-content: center;
    gap: 0 40px;
}

.services__card {
    width: 250px;
    height: 200px;
    text-align: center;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
    padding-top: 30px;
}

.card__title {
    font-family: var(--font-Hind-bold);
    font-size: 20px;
    margin-top: 25px;
}

.card__subtitle {
    max-width: 198px;
    font-family: var(--font-Hind-regular);
    font-size: 14px;
    margin: 9px 0 27px 0;
}

/* Brown */

.Brown__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Brown__title {
    max-width: 350px;
    font-family: var(--font-Hind-bold);
    font-size: 45px;
    line-height: 49px;
    color: var(--color-title);
    margin-bottom: 10px;
}

.Brown__subtitle {
    max-width: 445px;
    font-family: var(--font-Hind-regular);
    font-size: 16px;
    line-height: 24px;
    color: var(--color-menu);
    opacity: 0.6;
    margin-bottom: 30px;
}

.Brown__img-box {
    position: relative;
}

.Brown__shadow {
    position: absolute;
    width: 295px;
    height: 30px;
    top: 77%;
    left: 29%;
    background-color: #EDB5C7;
    z-index: -1;
}

/* Product */
.Product {
    background-color: #fff;
    padding-top: 137px;
}

.Product__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Product__title {
    font-family: var(--font-Hind-bold);
    font-size: 45px;
    margin-bottom: 65px;
}

.Product__filter {
    margin-bottom: 50px;
}

.Product__filter-list {
    display: flex;
    column-gap: 40px;
}

.Product__filter-list a {
    cursor: default;
    font-family: var(--font-Roboto-regular);
    font-size: 18px;
    opacity: 0.6;

}

.Product__filter-item {
    position: relative;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.Product__filter-item:hover {
    font-weight: 800;
    color: var(--color-title);
}

.Product__filter-item::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 3px;
    background-color: #D64374;
    bottom: -4px;
    left: 0;
    opacity: 0;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.Product__filter-item:hover::after {
    opacity: 1;
    width: 100%;

}

/* Product__card-box */


.Product__card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Product__card-description {
    position: relative;
    margin-left: 87px;
}

.Product__card-title {
    font-family: var(--font-Hind-bold);
    font-size: 26px;
    line-height: normal;
    color: var(--color-title);
    margin-bottom: 11px;
}

.Product__card-subtitle {
    max-width: 455px;
    font-family: var(--font-Roboto-regular);
    font-size: 16px;
    line-height: 24px;
    color: var(--color-menu);
    margin-bottom: 28px;
}

.Product__card-sale {
    font-family: var(--font-Hind-regular);
    font-size: 26px;
    color: var(--color-title);

}

.Product__card-price {
    font-family: var(--font-Hind-regular);
    font-size: 20px;
    color: var(--color-title);
    text-decoration: line-through;
}

.Product__link {
    position: absolute;
    bottom: -55px;
    left: 0;
}

/* Product-swiper */






.swiper-button-prev::after,
.swiper-button-next::after {
    color: #D23166;
}

.swiper__container .swiper-pagination-bullet {
    width: 130px;

    bottom: 10%;
    width: 30px;
    height: 30px;
}

.swiper-button {
    position: absolute;
    bottom: 6%;
    right: 50%;
    z-index: 12;
}

.swiper__container .swiper-pagination {
    bottom: 0;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 56px;
}

.user__card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.info__name {
    font-family: var(--font-Roboto-bold);
    font-size: 24px;
    color: var(--color-title);
    margin-bottom: 5px;
}

.info__country {
    font-family: var(--font-Roboto-medium);
    font-size: 12px;
    opacity: 0.7;
}

.user__card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 21px;
}

.reviews__text {
    position: relative;
    max-width: 322px;
    font-family: var(--font-Roboto-regular);
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.img-top {
    position: absolute;
    top: 3px;
    left: -20px;
}

.img-bottom {
    position: absolute;
    bottom: 0;
    right: 40px;
}

/* ordering */

.ordering__inner {
    display: flex;
}

.ordering__description {
    margin-top: 90px;
    margin-left: 134px;
}

.ordering__hero-img {
    transform: translateY(7%);
    -webkit-transform: translateY(7%);
    -moz-transform: translateY(7%);
    -ms-transform: translateY(7%);
    -o-transform: translateY(7%);
}

.description__title {
    font-family: var(--font-Roboto-regular);
    font-weight: 700;
    font-size: 45px;
    line-height: normal;
    color: var(--color-title);
    margin-bottom: 20px;
}

.description__subtitle {
    max-width: 610px;
    font-family: var(--font-Roboto-regular);
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.18px;
    color: var(--color-menu);
    opacity: 0.6;
    margin-bottom: 30px;
}

.description__list {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.description__list-item {
    display: inline-block;
    font-family: var(--font-Roboto-regular);
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 20px;
    padding-left: 40px;
}

.description__list-item:nth-child(1) {
    background-image: url(" ../img/icon/Group\ 92.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.description__list-item:nth-child(2) {
    background-image: url("../img/icon/Group\ 93.svg");
    background-repeat: no-repeat;
    background-size: contain;

}

.description__list-item:nth-child(3) {
    background-image: url("../img/icon/Group.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.description__list-img {
    padding: 8px;
    margin-right: 10px;
    background-color: #fff;

}

.description__img {
    display: flex;
    align-items: center;
    margin-left: -10px;
}


/* support */

.support {
    background-color: #fff;
}

.support__inner {
    padding-top: 191px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.support__title {
    max-width: 522px;
    font-family: var(--font-Roboto-regular);
    font-weight: 700;
    font-size: 44px;
    color: var(--color-title);
    text-align: center;
    margin-bottom: 30px;
}

.support__search {
    display: flex;
    margin-bottom: 150px;
}

.search__text {
    width: 505px;
    height: 74px;
    background-color: #FAFAFA;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    padding-left: 30px;
}

.search__text {
    font-family: var(--font-Roboto-regular);
    font-weight: 500;
    font-size: 14px;
    color: var(--color-menu);
    opacity: 0.6;
}

.search__btn {
    width: 134px;
    height: 74px;
    font-family: var(--font-Roboto-regular);
    font-weight: 500;
    font-size: 20px;
    background-color: var(--color-btn);
    padding: 28px 46px;
    color: #fff;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}

.footer {
    background-color: #0A0808;
}

.footer__inner {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 115px;
}

.footer__hero {
    margin-right: 40px;
}

.footer__text {
    max-width: 210px;
    font-family: var(--font-Roboto-medium);
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.7;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #fff;
}

.title__social {
    font-family: var(--font-Hind-regular);
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
    color: #fff;

}

.social__icon {
    margin-right: 10px;
}

.footer__menu {
    margin-top: 80px;
    margin-right: 135px;
}

.footer__menu-item {
    font-family: var(--font-Roboto-regular);
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.footer__menu-item:hover {
    opacity: 1;

}

.footer__menu-link {
    color: #fff;
}

.footer__information {
    margin-top: 60px;
    margin-right: 150px;
}

.footer__information-item {
    font-family: var(--font-Roboto-regular);
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 10px;
}

.footer__information-item:hover {
    opacity: 1;
}


.newsletter__title {
    font-family: var(--font-Roboto-regular);
    font-weight: 500;
    font-size: 16px;
    color: var(--color-text-footer);
    margin-bottom: 15px;
}

.newsletter__form {
    border: 2px solid #D64374;
    border-radius: 5px;
    margin-bottom: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.newsletter__input {
    width: 263px;
    height: 55px;
    padding-left: 32px;
    color: #fff;
    background-color: inherit;
}

.newsletter__btn {
    width: 125px;
    height: 62px;
    border-radius: 5px;
    background-color: #D23166;
    padding: 16px 17px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.newsletter__btn {
    font-family: var(--font-Roboto-regular);
    font-weight: 500;
    font-size: 20px;
    color: #fff;

}

.payment__img {
    margin-right: 10px;
}